* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 90%;
}
.logo h1 {
  font: 700 2.5rem "Poppins", "sans-serif";
  color: var(--title-color);
}
.logo span {
  color: var(--base-color);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

body {
  font: 400 1rem "DM Sans", "sans-serif";
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1rem "Poppins", "sans-serif";
  color: var(--title-color);
}
:root {
  --header-height: 4.5rem;
  --hue: 159;
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

.section {
  padding: 1.5rem 0;
}
.grid { 
  display: grid;
  gap: 2rem;
}

.home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
.home .image {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.home .text h1 {
  margin-bottom: 1rem;
}

.home .text p {
  margin-bottom: 2rem;
}
.button {
  background-color: var(--base-color-alt);
  color: var(--text-color-light);
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  padding: 0 2rem;
  font: 500 1rem 'Dm Sans', sans-serif;
  transform: background 0.3s;
}
